<img width="175px" height="100px" src="http://www.movieactors.com/photos-stars/samuel-l-jackson-shaft2000-3.jpg"/>
<p>
    <!-- Yeah I don't think it copes with CSS so here goes some smelly &nbsp; -->
    <strong>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\<br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Perhaps it's time....for a joke muthaf****
    </strong></p>
<br>
<p><strong>Q: </strong>{{ joke_question }}</p>
<p><strong>A: </strong>{{ joke_answer }}</p>
<br>
<p><em>Image borrowed for demonstration purposes from http://www.movieactors.com/photos-stars/samuel-l-jackson-shaft2000-3.jpg</em></p>